<ngx-spinner
bdColor="#F7F7F7"
template="<img src='https://i.giphy.com/media/YOw8mpVUyG8RIyR4uM/giphy.webp' />">
</ngx-spinner>
<app-carousel-component></app-carousel-component>
<ul>
  <li *ngFor="let movie of MovieData;">
      <img [src]="movie.thumb" alt="movie thumbnail">
      <div class="content">
        <div class="name">
          {{movie.title}}
        </div>
        <span class="favorite">❤</span>
        <button (click)="routeToPlayer(movie.id)" class="btn btn-dark mt-2"><fa-icon [icon]="faCircle"></fa-icon> Watch Trailer</button>
      </div>
  </li>
</ul>
