ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

li{
    box-shadow: 0px 2.5px 2.5px grey;
    margin: 5px;
}

ul li a{
    height: 22rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
    box-shadow: 5px 10px #0000;
}
li a:hover{
    opacity: 0.9;
    cursor: pointer;
}
.name{
    font-size: 15px;
}
.content{
    padding: .5rem 1rem;
    position: relative;
}
.favorite{
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.2rem;
}
.favorite.not{
    color: black;
}